@import "./../common.scss";

img {
  image-rendering: optimizeQuality;
  backface-visibility: hidden;
}

.container {
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 0px 0px 0px 110px;
}

.video-container {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-width: 600px;

  &__title {
    font-size: 30px;
    font-weight: $font-bold;
    margin: 10px 0 10px 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.text-record-container {
  display: flex;
  flex-direction: column;

  width: 95%;
  height: 96.5%;
  background-color: #f7f7f7;
  border-radius: 20px;
  margin: 10px 0px 0px 10px;
  box-shadow: $shadow-interview-room-item;
}

.text-record-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 10px 20px 10px;

  &__title {
    font-size: 20px;
    font-weight: $font-bold;
    align-self: center;
  }

  .text-record-bnt-group {
    img {
      align-self: center;
      margin: 0px 5px 0px 5px;
      background-color: white;
      border-radius: 10px;
      padding: 2px;
      width: 27px;
      height: 27px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      cursor: pointer;
    }

    img:hover {
      background-color: $color-main-sub2;
    }
  }
}

.text-record-list {
  padding: 0 10px 0 10px;
  margin: 0 0 10px 0;
  z-index: 100;
  overflow: auto;
  height: 86%;

  /* 스크롤바 설정 */
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    height: 17%;
    background-color: $color-main;
    /* 스크롤바 둥글게 설정    */
    border-radius: 10px;
  }

  /* 스크롤바 뒷 배경 설정*/
  &::-webkit-scrollbar-track {
    background-color: #f6f6f6;
    border-radius: 10px;
  }

  /* 스크롤바 설정 */
}

.chat-send-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 10px 10px 10px;

  &__chat-input {
    &:focus {
      outline: none;
      border: 1px solid $color-main;
    }

    width: 90%;
    height: 23px;
    font-size: 20px;

    padding: 5px;
    border: 1px solid #d8dde6;
    border-radius: 10px;
  }

  &__chat-bnt {
    &:hover {
      background-color: $color-main-sub2;
      transform: scale(1.1);
    }

    width: 20px;
    height: 20px;
    margin-left: 10px;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
  }
}

.chat {
  margin: 0 0 20px 0;

  &__name {
    width: fit-content;
    height: fit-content;
    font-size: 16px;
    background-color: aliceblue;
    border-radius: 20px;
    white-space: nowrap;
    padding: 4px 5px 4px 5px;
    margin: 0 0 5px 0;
  }

  &__contents {
    font-size: 16px;
  }

  &__self-introduction-contents {
    font-size: 16px;
    white-space: pre-line;
  }
}

.interviwer-container {
  display: flex;
  flex: 1.2;
  flex-direction: row;
  height: 30%;
  align-items: center;
  overflow: hidden;
}

.interviwee-container {
  display: flex;
  flex: 3;
  flex-direction: row;
  height: 70%;
  align-items: center;
  overflow: hidden;
}

.interviewer {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  width: 25%;
  height: 90%;
  min-width: 130px;
  margin: 0 10px 0 10px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 15px -3px,
  rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;;
  background-color: $color-main-sub2;
  align-items: center;

  &__name {
    position: relative;
    left: 0;
    text-align: center;
    margin: 10px 0 10px 0;
    white-space: nowrap;
  }

  &__video-container {
    display: flex;

    width: 90%;
    height: 100%;
    background-color: transparent;
    border-radius: 10px;
    margin: 5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;


    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    img {
      width: 100px;
      height: 100px;
    }
  }
}

.interviewee {
  width: 25%;
  height: 95%;
  min-width: 130px;
  margin: 0 10px 10px 10px;
  border-radius: 20px;
  box-shadow: $shadow-interview-room-item;
  background-color: $color-main-sub;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.2s linear;

  &:hover {
    transform: scale(1.02);
    cursor: pointer;
  }

  &__name {
    position: relative;
    left: 0;
    text-align: center;
    margin: 10px 0 10px 0;
    white-space: nowrap;
  }

  &__video-container {
    display: flex;

    width: 90%;
    flex: 0.9;
    background-color: transparent;
    border-radius: 10px;
    margin: 5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    img {
      width: 100px;
      height: 100px;
    }
  }

  &__emotion-box {
    width: 90%;
    flex: 0.7;
    border-radius: 20px;
    background-color: white;
    margin: 10px 10px 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      align-self: start;
      margin: 5px 0 0 7px;
      font-size: 12px;
    }
  }

  &__wordcloud {
    width: 90%;
    flex: 1;
    border-radius: 20px;
    background-color: white;
    margin: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      align-self: start;
      margin: 5px 0 0 7px;
      font-size: 12px;
    }

    &--img-container{
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    img {
      width: 100px;
      height: 100px;
    }
  }
}

.video-item {
  height: 100%;
  background-color: transparent;
}

.record-container{

  background: #5ebc88;
  border-radius: 30px;
  width: 120px;
  margin: 4px 10px 4px 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  :hover{
    cursor: pointer;
  }

  &__img {
    width: 25px;
    height: 25px;
  }

  p{
    color: white;
    font-size: 15px;
    margin-right: 5px;
  }

}

