@import "./../common.scss";

.container {
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin: 0 0px 0px 90px;
 // padding: 0 10px 0px 10px;
}

.interview-analysis-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
}
  
.interviewee-list-box {
    display: flex;
    flex-direction: column;
    align-items: center;    
    min-width: 200px;
    background-color: $color-main-sub;
    box-shadow: $shadow-default;
    width: 15vw;
    height: 100vh;
    //margin: 0 0 0 10px

   &__title {
    margin-top: 50px;
    font-size: 20px;
    color: $color-main;
  }
}

.interviewee-list-name{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 150px;
  height: 30px;
  background-color: white;
  box-shadow: $shadow-default;
  border-radius: 5px;
}

.information-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
//  min-width: 200px;
  background-color: pink;
  width: 50vw;
  height: 100vh;
  flex-grow: 1;
}

.basic-information-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  background-color: white;
  width: 54vw;
  height: 30vh;
}

.analysis-container{
  display: flex;
  flex-direction: column;
//  justify-content: center;
  align-items: center; 
  background-color: blue;
  width: 54vw;
  height: 50px;
  overflow-y: scroll;
  flex-grow: 1; 
}

.analysis-box{
  width: 50vw;
  height: 220px;
  min-height: 220px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;  
  background-color: antiquewhite;
  margin-top: 14px;
  margin-bottom: 12px;
}

.chatting-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;    
  flex-grow: 1;  
  background-color: wheat;
  width: 20vw;
  height: 100vh;
}