@import "./../common.scss";

.container {
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin: 0 0px 0px 90px;
 // padding: 0 10px 0px 10px;
}

.interview-analysis-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
}
  
.interviewee-list-box {
    display: flex;
    flex-direction: column;
    align-items: center;    
    min-width: 200px;
    background-color: $color-main-sub;
    box-shadow: $shadow-default;
    width: 15vw;
    height: 100vh;
    //margin: 0 0 0 10px

   &__title {
    margin-top: 50px;
    font-size: 20px;
    color: $color-main;
  }
}

.interviewee-list-name{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 150px;
  height: 30px;
  background-color: white;
  box-shadow: $shadow-default;
  border-radius: 5px;
  border-style: hidden;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 15px;
}

.information-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
//  min-width: 200px;
  width: 50vw;
  height: 100vh;
  flex-grow: 1;
}

.basic-information-container{
  display: flex;
  flex-direction: row;
  align-items: flex-start; 
  justify-content: left;
  background-color: white;
  width: 54vw;
  height: 30vh;
}

.basic-information-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  height: 30vh;
  flex-grow: 1;

  &__title {
    font-size: 18px;
    color: $color-main;
    margin: 25px 0 10px 60px;
  }

  &__description {
    font-size: 15px;
    color: black;
    margin: 5px 0 3px 60px;
  }
}

.analysis-container{
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 54vw;
  height: 50px;
  overflow-x: hidden;
  overflow-y: hidden;
  flex-grow: 1; 
}

.analysis-box{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;    
  align-items: center;   
  width: 52vw;
  height: 220px;
  min-height: 220px;
  margin-top: 14px;
  margin-bottom: 12px;
  border-radius: 20px;
  border: 3px solid $color-main;

  &__title {
    font-size: 18px;
    color: $color-main;
    margin: 10px 0 10px 0;
  }
}

.analysis-result-box{
  width: 52vw;
  height: 180px;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: center;  
  align-items: center; 
}

.analysis-chart-box{
  width: 15vw;
  height: 180px;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  position: relative;

  &__score {
    position: absolute;
    font-size: 25px;
    color: $color-main;
    padding-left: 45%;
    padding-top: 20%;
  }
}


.pie-chart {
  display: inline-block;
  width: 110px;
  height: 110px;
  background: conic-gradient(#8b22ff 0% 25%, #ffc33b 25% 56%, #21f3d6 56% 100%);
  border-radius: 100%;
 // transform: translate(20%,20%);
}

.pie-chart-center {
  width: 70px;
  height: 70px;
  background: white;
  border-radius: 100%;
// transform: translate(20%,20%);
}

.chatting-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;    
  flex-grow: 1;  
  width: 20vw;
  height: 100vh;
  margin-right: 5px;
  &__title {
    font-size: 18px;
    color: $color-main;
    margin: 30px 0 20px 0;
  }
}

.chatting-box{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; 
  flex-grow: 1;
  width: 23vw;
  border: 3px solid $color-main;
  border-radius: 20px;
  margin-bottom: 15px;
  &__chat {
    font-size: 16px;
    margin: 10px 0 0 15px;
  }
}