@import "./../common.scss";

.container {
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0 0px 0px 90px;
  padding: 0 20px 0px 20px;
}

.title {
  font-weight: $font-bold;
  font-size: 50px;
  color: $color-main;
  text-align: center;
  margin: 70px 0 0 0;
  height: fit-content;
}

.sub-title {
  font-weight: $font-bold;
  font-size: 20px;
  text-align: center;
  margin: 30px 0 0 0;
  height: fit-content;
}

.login-container {
  display: flex;
  flex-direction: column;
  // width: 100%;
  // height: 100%;

  justify-content: center;
  align-items: center;

  margin: 60px 0 0px 0;
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 40vw;
  height: 500px;
  min-width: 500px;
  background-color: $color-main-sub;
  box-shadow: $shadow-default;
  border-radius: 20px;

  &__find-pwd {
    width: 80%;
    text-align: start;
    text-decoration: underline;
    font-size: 15px;
    color: $color-main;
    margin: 50px 0 20px 0;
    cursor: pointer;
  }

  &__login-bnt {
    &:hover {
      background-color: $color-main-focused;
      color: white;
    }

    width: 80%;
    background-color: $color-main;
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin: 10px 0 10px 0;
    font-size: 15px;
    color: white;
    cursor: pointer;
  }

  &__signup-bnt {
    &:hover {
      background-color: $color-main-focused;
      color: white;
    }
    width: 80%;
    background-color: white;
    border-radius: 5px;
    border: 1px solid $color-main;
    padding: 10px;
    margin: 10px 0 10px 0;
    font-size: 15px;
    cursor: pointer;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;

  &__title {
    font-size: 15px;
    margin-left: 7px;
  }

  &__input {
    &:focus {
      outline: none;
      border: 1px solid $color-main;
    }

    font-size: 15px;
    margin: 10px 0 20px 0;
    padding: 10px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #d8dde6;
  }
}
